body{
    width: 800px;
    margin: auto;
    padding: 50px;
}
main{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}
header{
    margin: auto;
    width: 800px;
    height: 250px;
    background-color: #f1c2f3;
        padding: 10px;
}

h3{
        font-style: italic; 
}  

.avatar {
    float: right;
    margin: 1px;
    
}

.logo {
    width: 7%;
}
footer {
    margin: auto;
    width: 800px;
    height: 30px;
    background-color: #d375f8;
    padding: 20px;
    text-align: center;
}
time {
    margin: 15px;
}